.container{
    margin-bottom: 50px;
}
/* Carousel */
.my-bg{
    background-color: #fceae8;
    border-radius: 10px;
    padding: 20px 40px;
}
.price{
    color: rgb(233, 0, 116);
}
.my-button{
    padding: 9px 25px;
    color: white;
    background-image: linear-gradient(to bottom,rgb(247, 4, 126),rgba(247, 4, 126, 0.767));
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.my-button:hover{
    background-image: linear-gradient(to bottom,rgba(247, 4, 126, 0.801),rgba(247, 4, 126, 0.562));
}
/* Catagories */
.catagories h1{
    color: white;
}
.catagories img{
    width: 120px;
}
.cat1, .cat2, .cat3{
    padding: 15px;
    border-radius: 10px;
}
.cat1{
    background-color: rgb(189, 47, 255);
}
.cat2{
    background-color: hotpink;
}
.cat3{
    background-color: rgb(16, 174, 226);
}
/* Shoes */
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
/* Backpack */
.card-footer{
    background-color: white;
    border-top: none;
}
/* Contact Us */
#contact-us{
    height: 300px;
}
#contact-us h3{
    text-align: center;
}
.tut{
    width: 40%;
}
footer{
    text-align: center;
}
small{
    text-align: center;
    color: rgb(207, 183, 183);
}